<!--One Entry-->
<tr>
    <tr>
            <td class="custId">{{this.customerId}}</td>
            <td class="custEmail">{{this.custEmail}}</td>
            <td class="custName">{{this.customerLastName}}, {{this.customerFirstName}}</td>
</tr>
<!--One Entry-->