<!--One Entry-->
<tr>
    <tr>
            <td class="custId">{{this.custId}}</td>
            <td class="custEmail">{{this.custEmail}}</td>
            <td class="custName">{{this.custName}}</td>
</tr>
<!--One Entry-->