<!--One Entry-->
<tr>

    <td class="custId">{{this.customerId}}</td>
    <td class="custEmail">{{this.customerEmail}}</td>
    <td class="custName">{{this.customerLastName}}, {{this.customerFirstName}}</td>


</tr>
<!--One Entry-->