<div class="modal fade" id="cart_success">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-body">
        <h5 class="modal-title"> Added to Cart! </h5>
      </div>
    </div>
  </div>
</div>