<nav class="d-flex navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex">
        
        <a class="navbar-brand text-start mx-auto fs-1 display-1" href="/">Jet's Game Store</a>
        
        <div class="container-fluid d-flex mt-3" style="width: 700px;">

            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-lg" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
            
            {{!-- if logged in or not --}}
            {{#if this}}
                <div class="ms-3" id="current_user" data-email="francis@gmail.com">
                    <button class="btn btn-secondary btn-lg" type="submit"><i class="bi bi-person-lines-fill"></i></button>
                </div>

                <div class="ms-3">
                    <button class="btn btn-secondary btn-lg" type="submit"><i class="bi bi-cart-fill"></i></button>
                </div>

            {{else}}
                <div class="ms-3">
                    <a href="/login"><button class="btn btn-secondary btn-sm btn-navbar">Log in</button></a>
                </div>

                <div class="ms-3">
                    <a href="/register"><button class="btn btn-secondary btn-sm btn-navbar">Sign up</button></a>
                </div>
            {{/if}}
            

            <!-- burger icon -->
            <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </div>
</nav>