<div class="container">
    <div class="modal fade" id="searchModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-body d-flex">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <button class="btn navBtn btn-secondary btn-lg" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>