<div class="toast-container position-fixed top-0 end-0 p-3" id="toast-container"
  style="z-index: 1090; visibility: hidden;">
  <div class="toast align-items-center" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body" id="toast-body">
          <!-- Put message here using JS -->
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>