<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <title>{{title}}</title>
        <link rel="shortcut icon" type="image/jpg" href=""/>

        <base href="/">
        
        {{!-- Bootstrap Library --}}
        <link rel="stylesheet" type="text/css" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
        {{!-- Fontawesome Library --}}
        <link rel="stylesheet" href="/fontawesome/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        <link  rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" >
        {{#each styles}}
        <link rel="stylesheet" type="text/css" href="/css/{{this}}.css">
        {{/each}}
    </head>
    <body>
        
        {{{body}}}

        {{!-- JQuery --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="/scripts/jquery-3.6.0.min.js"></script>
        <script src="/scripts/validator.min.js"></script>
        {{!-- Bootstrap --}}
        <script src="./bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
        {{#each scripts}}
        <script type="text/javascript" src="/scripts/{{this}}.js"></script>
        {{/each}}
    </body>
</html>