<!-- Side-Nav -->
<div class="side-navbar d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
        <a href="#" class="nav-link h3 text-white my-2">
            Jet's Game Store
        </a>
        <a href="/admin-customers" class="nav-link text-white">
            <li>
                <i class="bx bx-user-check"></i>
                <span class="mx-2">Customers</span>
            </li>
        </a>

        <a href="/admin-transactions" class="nav-link text-white">
            <li>
                <i class="bx bx-receipt"></i>
                <span class="mx-2">Transactions</span>
            </li>
        </a>

        <a href="/admin-products" class="nav-link text-white">
            <li>
                <i class='bx bxs-component'></i>
                <span class="mx-2">Products</span>
            </li>
        </a>

    </ul>

    <button type="button" class="btn btn-danger" href="/logout">Sign Out</button>
</div>

<!-- Main Wrapper -->
<div class="p-1 my-container">
    <!-- Top Nav -->
    <nav class="navbar top-navbar navbar-light bg-white px-5 sticky-top">
        <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
    </nav>
    <!--End Top Nav -->
    <h1 class="h1 text-center">Customers</h1>
    <div class="container-lg mb-2 my-5">
        <table class="table table-fluid table-striped" id="customers-table">
            <thead class="table table-fluid">
                <tr>
                    <th>Customer Id</th>
                    <th>Customer Email</th>
                    <th>Customer Name</th>
                </tr>
            </thead>

            <tbody>
                <!--Insert Entries here-->
                {{#each customers}}
                {{>admin_customer_single_item this}}
                {{/each}}
            </tbody>
        </table>
    </div>

    {{>toasts-admin}}

</div>
