<!-- Modal -->
<div class="modal fade" id="product_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Discount</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <h5 class="mx-2" style="display: inline;">Product Id:</h5>
                        <h6 class="" id="product_id" style="display: inline;">Product Id</h6>
                    </div>

                    <div class="mb-3">
                        <h5 class="mx-2" style="display: inline;">Product name:</h5>
                        <h6 class="" id="product_name" style="display: inline;">Product name</h6>
                    </div>

                    <div class="mb-3">
                        <h5 class="mx-2" style="display: inline;">Product Price:</h5>
                        <h6 class="" id="product_price" style="display: inline;">PHP 1500</h6>
                    </div>

                    <div class="mb-3">
                        <label for="discount-percentage" class="col-form-label">Discount Percentage</label>
                        <input type="text" class="form-control" id="discount-percentage">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="submit-discount-btn">Add
                    Discount</button>
            </div>
        </div>
    </div>

</div>
<!-- Side-Nav -->
<div class="side-navbar d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
        <a href="#" class="nav-link h3 text-white my-2">
            Jet's Game Store
        </a>
        <a href="/admin-customers" class="nav-link text-white">
            <li>
                <i class="bx bx-user-check"></i>
                <span class="mx-2">Customers</span>
            </li>
        </a>

        <a href="/admin-transactions" class="nav-link text-white">
            <li>
                <i class="bx bx-receipt"></i>
                <span class="mx-2">Transactions</span>
            </li>
        </a>

        <a href="/admin-products" class="nav-link text-white">
            <li>
                <i class='bx bxs-component'></i>
                <span class="mx-2">Products</span>
            </li>
        </a>

    </ul>

    <button type="button" class="btn btn-danger">Sign Out</button>
</div>

<!-- Main Wrapper -->
<div class="p-1 my-container">
    <!-- Top Nav -->
    <nav class="navbar top-navbar navbar-light bg-white px-5 sticky-top">
        <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
    </nav>
    <!--End Top Nav -->

    <h1 class="h1 text-center">Products</h1>
    <div class="container-lg mb-2 my-5">
        <table class="table table-fluid table-striped" id="products-table">
            <thead class="table table-fluid">
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Add/Remove Discount</th>

                </tr>
            </thead>

            <tbody>
                <!--Insert Entries here-->
                {{#each products}}
                {{>admin_product_single_item this}}
                {{/each}}

            </tbody>
        </table>
    </div>

    {{>toasts-admin}}

</div>