<!-- Side-Nav -->
    <div class="side-navbar d-flex justify-content-between flex-wrap flex-column" id="sidebar">
        <ul class="nav flex-column text-white w-100">
            <a href="#" class="nav-link h3 text-white my-2">
                Jet's Game Store
            </a>
            <a href="/admin-home" class="nav-link text-white">
                <li>
                    <i class="bx bxs-dashboard"></i>
                    <span class="mx-2">Home</span>
                </li>
            </a>

            <a href="/admin-customers" class="nav-link text-white">
                <li>
                    <i class="bx bx-user-check"></i>
                    <span class="mx-2">Customers</span>
                </li>
            </a>

            <a href="/admin-transactions" class="nav-link text-white">
                <li>
                    <i class="bx bx-receipt"></i>
                    <span class="mx-2">Transactions</span>
                </li>
            </a>

        </ul>

        <button type="button" class="btn btn-danger">Sign Out</button>
    </div>

    <!-- Main Wrapper -->
    <div class="p-1 my-container">
        <!-- Top Nav -->
        <nav class="navbar top-navbar navbar-light bg-white px-5 sticky-top">
            <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
        </nav>
        <!--End Top Nav -->
        <h1 class="h1 text-center">Transactions</h1>
        <div class="container-lg mb-2 my-5">
            <table class="table table-fluid table-striped" id="transactions-table">
                <thead class="table table-fluid">
                    <tr>
                        <th>Transaction Id</th>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <!--Insert Entries here-->
                    {{#each transactions}}
                    {{>admin_transaction_single_item this}}
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="position-fixed top-0 end-0 p-3" style="z-index: 2500">
            <div class="toast align-items-center visually-hidden" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

    </div>

    <script src="sidebar.js"></script>
    <script src="dropdown.js"></script>
