 <div class="container-lg mb-2 my-5">
        <table class="table table-fluid" id="customer-table">
            <thead class="table table-fluid">
                <tr>
                    <th>Customer Id</th>
                    <th>Customer Email</th>
                    <th>Customer Name</th>
                </tr>
            </thead>

            <tbody>
                <!--Insert Entries here-->
                <!--One Entry-->
                <tr>
                    <td>00014</td>
                    <td>carlcheng@gmail.com</td>
                    <td>Carl Cheng</td>
                </tr>

                <!--One Entry-->
                <tr>
                    <td>00015</td>
                    <td>isaacaquino@gmail.com</td>
                    <td>Isaac Aquino</td>
                </tr>

                <tr>
                    <td>00015</td>
                    <td>isaacaquino@gmail.com</td>
                    <td>Isaac Aquino</td>
                </tr>
            </tbody>
        </table>
    </div>