<div>
	{{!-- <form action="/sample2" method="get">
		<p id={{id}}>{{firstName}}</p>
		<button type="submit">Move</button>
	</form>

	{{> sample_partial}} --}}
	
    
	<form id="register">
			<input type = "text" name = "firstName" id="firstName" placeholder="first name">
			<br>
			<input type = "text" name = "lastName" id="lastName" placeholder="last name">
			<br>
			+63<input type = "text" name = "mobile" id="mobile" placeholder="mobile number">
			<br>
			<select name = "gender" id="gender">
				<option value="" selected disabled hidden>Choose here</option>
				<option value = "Male">Male</option>
				<option value = "Female">Female</option>
				<option value ="Choose not to say">Choose not to say </option>
			</select>
			<br>
			<input type = "text" name = "email" id = "email" placeholder="email address">
			<br>
			<input type = "password" name = "password" id= "password" placeholder="password">
			<br>
			<button id = "submitregister" >Submit</button>
	</form>
	<p id ="regstatus">register status:</p>
	<br>
	<br>
	<form id="login">
			<input type = "text" name = "logemail" id="logemail" placeholder="email address" value='francis@gmail.com'>
			<br>
			<input type = "password" name = "logpassword" id = "logpassword" placeholder="password" value='password'>
			<br>
			<button id = "submitlogin" type="submit">login</button>
	</form>

	<div id='status_div' data-status="{{status}}">
		<p id ="status">status: {{status}}</p>
	</div>

	<a href='/logout'><button id="logout">Logout</button></a>

	<button class="add_cart">Add to Cart</button>
</div>