<div>
    <form id="register">
			<input type = "text" name = "firstName" placeholder="first name">
			<br>
			<input type = "text" name = "lastName" placeholder="last name">
			<br>
			<input type = "text" name = "address" placeholder="delivery address">
			<br>
			+639<input type = "text" name = "mobile" placeholder="mobile number">
			<br>
			<select name = "gender">
				<option value="" selected disabled hidden>Choose here</option>
				<option value = "Male">Male</option>
				<option value = "Female">Female</option>
				<option value ="Choose not to say">Choose not to say </option>
			</select>
			<br>
			<input type = "text" name = "email" placeholder="email address">
			<br>
			<input type = "password" name = "password" placeholder="password">
			<br>
			<button id = "submitregister" type="submit">Submit</button>
	</form>
</div>